# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project-relevant
imgui.ini

# directories that should be ignored in general
# but can be excluded explicitly
/tmp
/data
/demos
/videos
/examples/benchmarking/videos

# benchmarking
/benchmark_results
/mani_skill/examples/benchmarking/benchmark_results
/mani_skill/examples/benchmarking/videos
# testing
.coverage*
htmlcov/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 
